{% load static %}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <link rel="icon" href="{% static 'images/favicon.png' %}" type="image/gif" sizes="16x16">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/slick.css' %}">
    <title>Apoorv Garg</title>
</head>

<body>

    <!-- Navigation -->
    <nav class="site-navigation">
        <div class="site-navigation-inner site-container">
            <img src="{% static 'images/site-logo.png' %}" width="5%" alt="site logo">
        </div>
    </nav>
    <!-- Navigation end -->

    <!-- Top banner -->
    <section class="fh5co-top-banner" id="#home">
        <div class="top-banner__inner site-container">
            <div class="top-banner__image">
                <img style="border-radius: 0 12% 0 0;" src="{% static '/images/top-banner-author.jfif' %}" alt="author image">
            </div>
            <div class="top-banner__text">
                <div class="top-banner__text-up">
                    <span class="brand-span">Hello! I'm</span>
                    <h2 class="top-banner__h2">Apoorv</h2>
                </div>
                <div class="top-banner__text-down">
                    <h2 class="top-banner__h2">Garg</h2>
                    <span class="brand-span">Web Developer, Hacker, Udemy Instructor</span>
                </div>
                <p>Strongly believes that technology is in its adolescence phase right now and we all soon will be witnessing some big changes in almost every field of Technology and aspect of life.
                </p>
                <p>So I wish to learn as much as possible to let myself be the part of the revolution when it finally happens.
                </p>
                <a href="https://github.com/FalseG0d" class="brand-button">View Github</a>
            </div>
        </div>
    </section>
    <!-- Top banner end -->
    <div style="padding: 5%;"></div>
    <!-- Books and CD -->
    <section class="fh5co-books" id="#projects">
        <div class="site-container">
            <h2 class="universal-h2 universal-h2-bckg">Some of My Best Works</h2>
            <div class="books">
                <div class="single-book">
                    <a href="#" class="single-book__img">
                        <img src="{% static 'images/books-1.jpg' %}" alt="single book and cd">
                        <div class="single-book_download">
                            <img src="{% static 'images/download.svg' %}" alt="book image">
                        </div>
                    </a>
                    <h4 class="single-book__title">Olivani</h4>
                    <span class="single-book__price">$15.00</span>
                </div>
                <div class="single-book">
                    <a href="#" class="single-book__img">
                        <img src="{% static 'images/books-2.jpg' %}" alt="single book and cd">
                        <div class="single-book_download">
                            <img src="{% static 'images/download.svg' %}" alt="book image">
                        </div>
                    </a>
                    <h4 class="single-book__title">Molleon’s Life</h4>
                    <span class="single-book__price">$22.00</span>
                </div>
                <div class="single-book">
                    <a href="#" class="single-book__img">
                        <img src="{% static 'images/books-3.jpg' %}" alt="single book and cd">
                        <div class="single-book_download">
                            <img src="{% static 'images/download.svg' %}" alt="book image">
                        </div>
                    </a>
                    <h4 class="single-book__title">Love is Love</h4>
                    <span class="single-book__price">$25.00</span>
                </div>
                <div class="single-book">
                    <a href="#" class="single-book__img">
                        <img src="{% static 'images/books-4.jpg' %}" alt="single book and cd">
                        <div class="single-book_download">
                            <img src="{% static 'images/download.svg' %}" alt="book image">
                        </div>
                    </a>
                    <h4 class="single-book__title">Give Me Also</h4>
                    <span class="single-book__price">$30.00</span>
                </div>
            </div>
            <div class="books-brand-button">
                <a href="#" style="background-color: black;" class="brand-button">View more</a>
            </div>
        </div>
    </section>
    <!-- Books and CD end -->

    <!-- About me -->
    <h2 class="universal-h2 universal-h2-bckg">Research Papers</h2>
    <section class="fh5co-about-me" id="#research">
        <div class="about-me-inner site-container">
            <article class="portfolio-wrapper">
                <div class="portfolio__img">
                    <img src="{% static 'images/about-me.jpg' %}" style="border-radius: 0 12% 12% 0;" class="about-me__profile" alt="about me profile picture">
                </div><br>
                <h2 class="universal-h2 universal-h2-bckg">My Research Works</h2>
            </article>
            <div class="about-me__text">
                <div class="about-me-slider">
                    <div class="about-me-single-slide">
                        <h2 class="universal-h2 universal-h2-bckg">UI Personalization using Face Recognition
                        </h2>
                        <p><span>H</span> e has work appearing or forthcoming in over a dozen venues, including Buzzy Mag, The Spirit of Poe, and the British Fantasy Society journal Dark Horizons. He is also CEO of a company, specializing in custom book
                            publishing and social media marketing services, have created a community for authors to learn and connect.He has work appearing or forthcoming in over a dozen venues, including Buzzy Mag, The Spirit of Poe, and have created
                            a community for authors to learn and connect.</p>
                        <a href="#" class="brand-button">View more</a>
                    </div>
                    <div class="about-me-single-slide">
                        <h2 class="universal-h2 universal-h2-bckg">UI Personalization using Face Recognition
                        </h2>
                        <p><span>H</span> e has work appearing or forthcoming in over a dozen venues, including Buzzy Mag, The Spirit of Poe, and the British Fantasy Society journal Dark Horizons. He is also CEO of a company, specializing in custom book
                            publishing and social media marketing services, have created a community for authors to learn and connect.He has work appearing or forthcoming in over a dozen venues, including Buzzy Mag, The Spirit of Poe, and have created
                            a community for authors to learn and connect.</p>
                        <a href="#" class="brand-button">View more</a>
                    </div>
                </div>
            </div>
        </div>
        <div style="padding: 2%;" class="about-me-bckg"></div>
    </section>
    <!-- About me end -->

    <div style="padding: 5%;"></div>

    <!-- Counter -->
    <div class="fh5co-counter counters" id="#internships">
        <div class="counter-inner site-container">
            <div class="single-count">
                <span class="count" data-count="50">0</span>
                <div class="single-count__text">
                    <img src="{% static 'images/counter-1.png' %}" alt="counter icon">
                    <p>Projects</p>
                </div>
            </div>
            <div class="single-count">
                <span class="count" data-count="600">0</span>
                <div class="single-count__text">
                    <img src="{% static 'images/counter-2.png' %}" alt="counter icon">
                    <p>Internships</p>
                </div>
            </div>
            <div class="single-count">
                <span class="count" data-count="2000">0</span>
                <div class="single-count__text">
                    <img src="{% static 'images/counter-3.png' %}" alt="counter icon">
                    <p>Events</p>
                </div>
            </div>
            <div class="single-count">
                <span class="count" data-count="125">0</span>
                <div class="single-count__text">
                    <img src="{% static 'images/counter-4.png' %}" alt="counter icon">
                    <p>Awards</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Books and CD -->
    <section class="fh5co-books" id="#projects">
        <div class="site-container">
            <h2 class="universal-h2 universal-h2-bckg">My Podcasts</h2>
            <div class="books">
                <div class="single-book">
                    <a href="#" class="single-book__img">
                        <img src="{% static 'images/books-1.jpg' %}" alt="single book and cd">
                        <div class="single-book_download">
                            <img src="{% static 'images/download.svg' %}" alt="book image">
                        </div>
                    </a>
                    <h4 class="single-book__title">Olivani</h4>
                    <span class="single-book__price">$15.00</span>
                </div>
                <div class="single-book">
                    <a href="#" class="single-book__img">
                        <img src="{% static 'images/books-2.jpg' %}" alt="single book and cd">
                        <div class="single-book_download">
                            <img src="{% static 'images/download.svg' %}" alt="book image">
                        </div>
                    </a>
                    <h4 class="single-book__title">Molleon’s Life</h4>
                    <span class="single-book__price">$22.00</span>
                </div>
                <div class="single-book">
                    <a href="#" class="single-book__img">
                        <img src="{% static 'images/books-3.jpg' %}" alt="single book and cd">
                        <div class="single-book_download">
                            <img src="{% static 'images/download.svg' %}" alt="book image">
                        </div>
                    </a>
                    <h4 class="single-book__title">Love is Love</h4>
                    <span class="single-book__price">$25.00</span>
                </div>
                <div class="single-book">
                    <a href="#" class="single-book__img">
                        <img src="{% static 'images/books-4.jpg' %}" alt="single book and cd">
                        <div class="single-book_download">
                            <img src="{% static 'images/download.svg' %}" alt="book image">
                        </div>
                    </a>
                    <h4 class="single-book__title">Give Me Also</h4>
                    <span class="single-book__price">$30.00</span>
                </div>
            </div>
            <div class="books-brand-button">
                <a href="#" style="background-color: black;" class="brand-button">View more</a>
            </div>
        </div>
    </section>
    <!-- Books and CD end -->

    <!--Skills-->


    <section class="fh5co-books" id="#projects">
        <div class="site-container">
            <h2 class="universal-h2 universal-h2-bckg">Skills</h2>
            <div class="skill">
                <p><strong>HTML</strong></p>
                <div class="container">
                    <div class="skills" style="background-color: green;width: 90%;">90%</div>
                </div>
            </div>

            <div class="skill">
                <p><strong>CSS</strong></p>
                <div class="container">
                    <div class="skills css">80%</div>
                </div>
            </div>
            <div class="skill">
                <p><strong>Javascript</strong></p>
                <div class="container">
                    <div class="skills js">65%</div>
                </div>
            </div>
            <div class="skill">
                <p><strong>PHP</strong></p>
                <div class="container">
                    <div class="skills php">60%</div>
                </div>
            </div>


        </div>
        </div>
    </section>

    <!--Skills End-->

    <!-- Quotes -->
    <section class="fh5co-quotes">
        <div class="site-container">
            <div class="about-me-slider">
                <div>
                    <h2 class="universal-h2 universal-h2-bckg">Effects of Quarantine on Corporate India</h2>
                    <p>“Pudding croissant cake candy canes fruitcake sweet roll pastry gummies sugar plum. Tart pastry danish soufflé donut bear claw chocolate cake marshmallow chupa chups. Jelly danish gummi bears cake donut powder chocolate cake. Bonbon
                        soufflé lollipop biscuit dragée jelly-o. Wafer pastry pudding tiramisu chocolate bar croissant cake. Pie caramels gummies danish.”</p>
                    <img src="{% static 'images/quotes.svg' %}" alt="quotes svg">
                    <div style="padding: 2%;"></div>
                    <a href="https://github.com/FalseG0d" class="brand-button">Read Full Story</a>
                    <div style="padding: 2%;"></div>
                </div>
                <div>
                    <h2 class="universal-h2 universal-h2-bckg">How to Work From Home</h2>
                    <p>“Pudding croissant cake candy canes fruitcake sweet roll pastry gummies sugar plum. Tart pastry danish soufflé donut bear claw chocolate cake marshmallow chupa chups. Jelly danish gummi bears cake donut powder chocolate cake. Bonbon
                        soufflé lollipop biscuit dragée jelly-o. Wafer pastry pudding tiramisu chocolate bar croissant cake. Pie caramels gummies danish.”</p>
                    <img src="{% static 'images/quotes.svg' %}" alt="quotes svg">
                    <div style="padding: 2%;"></div>
                    <a href="https://github.com/FalseG0d" class="brand-button">Read Full Story</a>
                    <div style="padding: 2%;"></div>
                </div>
            </div>
        </div>
    </section>
    <!-- Quotes end -->

    <!-- Social -->
    <section class="fh5co-social">
        <div class="site-container">
            <div class="social">
                <h5>Find me on social media</h5>
                <div class="social-icons">
                    <a href="#" target="_blank"><img src="{% static 'images/social-twitter.png' %}" alt="social icon"></a>
                    <a href="#" target="_blank"><img src="{% static 'images/social-pinterest.png' %}" alt="social icon"></a>
                    <a href="#" target="_blank"><img src="{% static 'images/social-youtube.png' %}" alt="social icon"></a>
                    <a href="#" target="_blank"><img src="{% static 'images/social-twitter.png' %}" alt="social icon"></a>
                </div>
            </div>
        </div>
    </section>
    <!-- Social -->

    <!-- Footer -->
    <footer class="site-footer">
        <div class="site-container">
            <div class="footer-inner">
                <div class="footer-info">
                    <div class="footer-info__left">
                        <img src="{% static 'images/work.jpeg' %}" style="width: 80%;" alt="">
                    </div>
                </div>
                <div class="footer-contact-form">
                    <h5>Contact Form</h5>
                    <form class="contact-form">
                        <div class="contact-form__input">
                            <input type="text" name="name" placeholder="Name">
                            <input type="email" name="email" placeholder="Email">
                            <input type="text" name="subject" placeholder="Subject">
                        </div>
                        <textarea></textarea>
                        <input type="submit" name="submit" value="Submit" class="submit-button">
                    </form>
                </div>
            </div>
        </div>
        <div class="footer-bottom" style="align-items: center;text-align: center;">
            <div class="site-container footer-bottom-inner">
                <div style="padding: 1%;"></div>
                <p style="align-items: center;text-align: center;">© 2020 | You have reached the perspnal website of Apoorv Garg| Design by <a href="https://freehtml5.co/" target="_blank">freehtml5.co</a> and <a target="_blank" href="https://github.com/FalseG0d">FalseG0d</a> | All rights Reserved.</p>
                <div style="padding: 1%;"></div>
            </div>
        </div>
    </footer>
    <!-- Footer end -->

    <!-- Scripts -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/slick.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>

</body>

</html>